/**
 * 
 * @author SaraJoshi
 * CS 2450 Section 2
 * October 30, 2019
 * Professor Jonathan Johannsen and Tony Diaz
 * Assignment 2
 * 
 * An implementation of a dice poker game.
 * 
 * Rules:
 * The player has three rolls per turn.  
 * After the first roll, if the user clicks a dice, it will remain "held" and not roll the next time the user rolls
 * the dice. Its image should update accordingly. Once three rolls are up, determine what is the best "hand" the 
 * user has. Inform the user of what hand they have and how many points they received this round. The "Roll" button
 * should say "Play Again" once the player's turn is over. This should clear the Dice, allowing the user to start over.
 * Keep track of how many points overall the user has (i.e. keep a running total of how much they scored each turn)
 * 
 * Hands:
 * 5 of a kind - 10 points
 * Straight (5 numbers in a row i.e. 1, 2, 3, 4, 5 or 2, 3, 4, 5, 6) - 8 points
 * Four of a Kind - 7 points
 * Full House (3 of one kind, 2 of another) - 6 points
 * 3 of a kind - 5 points
 * 2 pair (2 of one kind, 2 of another, and 1 other value) - 4 points
 * 2 of a kind - 1 point 
 *
 */

.root
{
    -fx-background-color: linear-gradient(#000000, #742e7f);
}

.label
{
    -fx-font-family: cursive;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-text-fill: #f9790e;
}

.button
{
    -fx-text-fill: #000000;
    -fx-font-family: cursive;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-background-color: #64ff27;
    -fx-border-color: #000000;
}

#os 
{
	-fx-font-family: arial;
    -fx-font-size: 22pt;
    -fx-font-weight: bold;
    -fx-text-fill: #f9790e;
}

.button:hover
{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-background-color: #64ff27;
    -fx-border-color: #000000;
    -fx-text-fill: #64ff27;
    -fx-background-color: #000000;
}
